.title{
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 0px 0px black, 1px 1px black, 0px 0px black, 1px 1px black;
    color: azure;
}

body{
    background: url('bckimg.jpg') no-repeat center center/cover;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 1000px;
    background-color: rgba(222, 184, 135, 0.623);
}

table 
        {
            width: 100%;
        }
        table, th, td 
        {
            border: solid 1px #380707;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
      
        input[type='button'] 
        {
            cursor: pointer;
            border: none;
            color: #09154b;
        }
        
        input[type='text'], select 
        {
            text-align: center;
            border: solid 1px #26008d;
            width: auto;
            padding: 2px 3px;
        }